# --- Python ---
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# Environments
.env
.venv

# Run artifacts
output/
.chroma/

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

frontend/.next
frontend/node_modules
.vscode/settings.json

# Planing
implementation-plan.md