apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: urbind-query-mechanism-backend-output
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: gp3
